[Unit]
Description=homebox
After=network.target

[Service]
EnvironmentFile=/etc/default/homebox
ExecStart=/usr/bin/homebox
WorkingDirectory=/var/lib/homebox
StandardOutput=inherit
StandardError=inherit
Restart=always
User=homebox

[Install]
WantedBy=multi-user.target
