[Unit]
Description=hollama server
After=network-online.target

[Service]
Type=simple
EnvironmentFile=-/etc/default/hollama
User=hollama
Group=hollama
WorkingDirectory=/opt/hollama
ExecStart=npx vite preview --host
TimeoutStopSec=5
Restart=on-failure
RestartSec=2
PrivateTmp=false

[Install]
WantedBy=multi-user.target
