[Unit]
Description=forgejo
After=network.target

[Service]
Type=simple
User=git
Group=git
WorkingDirectory=/var/git
ExecStart=/opt/forgejo/forgejo web --config /etc/forgejo/app.ini
Restart=always
Environment=USER=git HOME=/var/git

[Install]
WantedBy=multi-user.target
