[Unit]
Description=RustDesk Relay Server
After=network.target

[Service]
Type=simple
User=rustdesk
Group=rustdesk
LimitNOFILE=1000000
WorkingDirectory=/var/lib/rustdesk
ExecStart=/opt/rustdesk/bin/hbbr
EnvironmentFile=/etc/rustdesk/server.env
Restart=always
RestartSec=10
StandardOutput=append:/var/log/rustdesk/hbbr.log
StandardError=append:/var/log/rustdesk/hbbr.error

[Install]
WantedBy=multi-user.target