[Unit]
Description=esphome
After=network.target

[Service]
EnvironmentFile=/etc/default/esphome
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/run/esphome/
ExecStartPre=/bin/chown -R esphome:esphome /var/run/esphome/
ExecStart=/opt/esphome/bin/esphome dashboard /var/lib/esphome $AUTH $PORT
WorkingDirectory=/var/lib/esphome
StandardOutput=inherit
StandardError=inherit
Restart=always
User=esphome

[Install]
WantedBy=multi-user.target
