[Unit]
Description=Booksonic Server
After=remote-fs.target network.target
AssertPathExists=/var/lib/booksonic

[Service]
Type=simple
EnvironmentFile=-/etc/default/booksonic
ExecStart=/usr/bin/java -Xmx700m -Dairsonic.home=${HOMEDIR} -Dserver.servlet.contextPath=${CONTEXT_PATH} -Dserver.address=${IP} -Dserver.port=${PORT} ${REVPROXY} -jar /opt/booksonic/booksonic.war $JAVA_ARGS
User=booksonic
Group=booksonic

[Install]
WantedBy=multi-user.target
