[Unit]
Description=Node RED
After=network-online.target
Requires=network-online.target

[Service]
EnvironmentFile=-/etc/default/node-red
User=node-red
Group=node-red
ExecStart=/usr/bin/node-red --settings /etc/node-red/settings.js --userDir /var/lib/node-red
PIDFile=/var/run/node-red/pid
Restart=always

[Install]
WantedBy=multi-user.target
