[Unit]
Description=PowerDNS Admin
Requires=powerdns-admin.socket
After=network.target

[Service]
PIDFile=/run/powerdns-admin/pid
EnvironmentFile=/etc/default/powerdns-admin
User=pdnsadmin
Group=pdnsadmin
WorkingDirectory=/opt/powerdns-admin
ExecStartPre=+mkdir -p /run/powerdns-admin/
#ExecStartPre=+chown pdnsadmin:pdnsadmin -R /run/powerdns-admin/
ExecStart=/opt/powerdns-admin/bin/gunicorn --pid /run/powerdns-admin/pid --env SCRIPT_ROOT=/powerdns-admin/ --bind unix:/run/powerdns-admin/socket 'powerdnsadmin:create_app()'
#ExecStart=/opt/powerdns-admin/run.py
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
