[Unit]
Description=Tasmocompiler
After=network.target

[Service]
EnvironmentFile=-/etc/default/tasmocompiler
Type=simple
User=tasmocompiler
ExecStart=node /opt/tasmocompiler/server/app.js

[Install]
WantedBy=multi-user.target
