[Unit]
Description=homeassistant
After=network.target

[Service]
EnvironmentFile=/etc/default/homeassistant
ExecStart=/opt/homeassistant/bin/hass --log-file /var/log/homeassistant/homeassistant.log
WorkingDirectory=/opt/homeassistant
StandardOutput=inherit
StandardError=inherit
Restart=always
User=homeassistant

[Install]
WantedBy=multi-user.target
